<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao</string>
				<string>8d132854a6b3578a0cce95a51d83c512</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>KAKAO_NATIVE_APP_KEY</key>
	<string>${KAKAO_NATIVE_APP_KEY} </string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Pro-Display-Black.otf</string>
		<string>SF-Pro-Display-Black.otf</string>
		<string>SF-Pro-Display-Bold.otf</string>
		<string>SF-Pro-Display-Heavy.otf</string>
		<string>SF-Pro-Display-Light.otf</string>
		<string>SF-Pro-Display-Medium.otf</string>
		<string>SF-Pro-Display-Regular.otf</string>
		<string>SF-Pro-Display-Semibold.otf</string>
		<string>SF-Pro-Display-Thin.otf</string>
		<string>SF-Pro-Display-Thin.otf</string>
		<string>AppleSDGothicNeoB.ttf</string>
		<string>AppleSDGothicNeoEB.ttf</string>
		<string>AppleSDGothicNeoH.ttf</string>
		<string>AppleSDGothicNeoL.ttf</string>
		<string>AppleSDGothicNeoM.ttf</string>
		<string>AppleSDGothicNeoR.ttf</string>
		<string>AppleSDGothicNeoSB.ttf</string>
		<string>AppleSDGothicNeoT.ttf</string>
		<string>AppleSDGothicNeoUL.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
	<key>NSLocalizesStrings</key>
	<string>YES</string>
</dict>
</plist>
